<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.heurebleue.fr/wp-content/uploads/2018/04/the-metropolitan-lyon-cocktail-bar-4.jpeg')" ;="">
  <h1>
  The Wagon Cocktails Bar
  </h1>
</div>
<div class="container text-center">
  <div class="row">
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <div class="card-category mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to "#{cocktail.name}", cocktail_path(cocktail), class: "btn btn-danger"%>
        </div>

      </div>
    <% end %>
  </div>
</div>

   <!--  <h1>Cocktails </h1>
    <p>Create your own cocktails</p>
    <a class="btn btn-primary" <a="" href="/cocktails/new">Add a new cocktail</a>
  </div>
</div> -->

   <!--   class="top" role="banner">
      <p><img src="https://www.heurebleue.fr/wp-content/uploads/2018/04/the-metropolitan-lyon-cocktail-bar-4.jpeg" class="img-fluid" alt="Responsive image"></p>
      <p>Welcome to Le Wagon bar</p>
      </div>
        <div class="">
          <%#= cl_image_tag("gvas8oo250vtyed14dxb",
          width: 400, height: 300, crop: :fill) %>
        </div>
<hr>

      <div class="card">
       <%#= image_tag "cocktail.jpg", alt: "Cocktail", width: 300 %>
      </div>
      <div><ul id="cocktails">
        <%# @cocktails.each do |cocktail| %>
          <li>
            <%#= link_to "#{cocktail.name}", cocktail_path(cocktail), class: "btn btn-primary"%>
          </li>
        <%# end %>
      </div></ul>
    </div>

 Just an image -->
<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="" loading="lazy">
  </a>
</nav> -->


<!-- "https://www.heurebleue.fr/wp-content/uploads/2018/04/the-metropolitan-lyon-cocktail-bar-4.jpeg" -->
